<footer>
    <div class="container" style="background-color: gainsboro; border: 2px black solid; padding:10px; margin-top: 10px;">


  <center>
    <h4>@Todos los derechos reservado Juan Carlos Moreno Lopez</h4>
    </center>
</div>
</footer>