<!DOCTYPE html>
<html lang="en">
  <%-include('partials/encabezado.html');%>

<body>
    
<body style="background-color: aliceblue;">
    <div class="container" style="background-color: lightblue; border: 2px black solid; padding:10px; margin-top: 10px;">
      <center>
        <h1>Vuelos</h1>
        <form action="/aviones" method="post">

          <div class="form-group row">
              <label for=""  class="col-sm-2 col-form-label">Numero de boleto:</label>
              <div class="col-sm-10">
                  <input type="text" name="boleto" id="boleto" required="true" >
                  </div>
          </div>

    

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Destino:</label>
                <div class="col-sm-10">
                <input type="text" name="destino" id="destino" required="true" >
              </div>
          </div>

       

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Nombre de cliente: </label>
                 <div class="col-sm-10">
                <input type="text" name="nombre" id="nombre" required="true"  >
              </div>
          </div>

      

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Años cumplidos:</label>
                <div class="col-sm-10">
                <input type="number" name="edad" id="edad" required="true" >
                </div>
          </div>
         
   

          <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label">Tipo de viaje: </label>
              <div class="col-sm-10">
                <select name="tipo" id="tipo" >
                  <option value="1">Sencillo</option>
                  <option value="2">Premium</option>
                </select>
              </div>
          </div>

          <div class="form-group row">

          <label for="" class="col-sm-2 col-form-label">Precio:</label>
                <div class="col-sm-10">
                <input type="number" name="precio" id="precio" required="true" >
                </div>

              </div>

          <br>
  
          <br>
        
       
          <button type="submit" class="btn btn-primary mb-2">Calcular</button>
          <button type="reset" class="btn btn-primary mb-2" onclick="Limpiar()">Limpiar</button>

  
        </form>
      </center>
      <%
      if(tipo!=1){
          precio=precio*1.80;
      }
      let iva = 0;
      let subtotal= 0;
      let total = 0;
      iva = precio*0.16;
      subtotal= Number(iva) + Number(precio);
      let descuento; 
      if(edad>=60){
        descuento= subtotal * 0.5;
        total= subtotal - descuento;
      }else{
        descuento=0;
        total= subtotal;
      }
      %>

      <div class="form-horizontal form-group row">
					
					
        <div class="row ml-3">
          <div class="col m-2">
            <label for="subtotal">Subtotal</label>
          </div>
          
          <div class="col m-2">
            <input type="number"  style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="subtotal" value="<%=precio%>" readonly>
              
            </input>
          </div>

          <div class="col"></div>
          
        </div>
        <div class="row ml-3">
          <div class="col m-2">
            <label for="iva">Impuesto</label>
          </div>
          
          <div class="col m-2">
            <input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="iva" value="<%=iva%>" readonly>
            
            </input>
          </div>

          <div class="col"></div>
          
        </div>
        <div class="row ml-3">
          <div class="col m-2">
            <label for="descuento">Descuento</label>
          </div>
          
          <div class="col m-2">
            <input style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="descuento" value="<%=descuento%>" readonly>
            
            </input>
          </div>

          <div class="col"></div>
          
        </div>
        <div class="row ml-3">
          <div class="col m-2">
            <label for="total">Total</label>
          </div>
          
          <div class="col m-2">
            <input type="number" style="width: fit-content;" class="form-control-plaintext border m-1 pr-1" id="total" value="<%=total%>" readonly>
            
            </input>
          </div>

          <div class="col"></div>
          
        </div>
      
        
  </div>
</div>
</div>
       
  
    </div>
    <%-include('partials/piePagina.html');%>

</body>
</html>